*{
      margin: 0;
      padding:0;
      box-sizing: border-box;
  }
  body{
      overflow-x: hidden;
  }

  .top{
      width: 100%;
      height: 100vh;
      background-image:url("../assets/beach.jpg");
      position: relative;
      padding: 0 5%;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  nav{
      width:100%;
      position: absolute;
      top: 0;
      left: 0;
      padding: 20px 8%;
      display: flex;
      align-items: center;
      justify-content:space-between ;
  }
  .menu{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width:30px;
    height:20px;
  }
  .line{
    width:100%;
    height:4px;
    background-color: white;
  }
  nav .logo{
      width: 200px;
  }
  .scroll{
    position: absolute;
     bottom:50px; 
     left:50px; 
     color:lightgray;
     font-size: large;
  }

  .downarrow{
    position: absolute;
    bottom:50px;
    right:50px;
    transform: rotate(90deg);
    mix-blend-mode: multiply;
    border-radius: 50%;
    border: 3px solid white;
  }
  
  nav ul li{
      list-style: none;
      display: inline-block; 
       margin-left: 40px;   
  }
  nav ul li a{
      text-decoration: none;
      color: #fff;
      font-size:17px ;
  
  }
  .content{
      position: absolute;
      left:200px;
      padding: 5px 5px 5px 5px;
      display:flex;
      flex-direction:column;

  }
  .content h5{
      font: 90.512px gt-sectra;
      color:#fff;
      display: block;
      text-align: start;
      position: relative;
      transform: translate(0px,0px);
  }  
  .screen2{
    width: 100vw;
    height: 50vh;
    margin:100px;
    text-align: center;
  }
  .found{
      display: block; 
      font-size: 45px;
      line-height: 1.5;
      text-align: center; 
      position: relative; 
      opacity: 1; 
      transform: translate(0px, 0px);
  }
  .screen3{
      width:100vw;
      height:120vh;
      display:flex; 
      justify-content:space-around;
      margin-bottom:200px;

  }
  .screen4{
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      gap: 5vh;
      margin-bottom: 250px;
  }
  .screen-A{    
      width:100vw;
      height:20vh;
      display:flex;
      justify-content: space-around;
      margin-left:50px;
      margin-right:50px;
    }
    .screen-a2{
      display:flex;
    }
    
    .screen5{
      width:100vw; 
      height:100vh;
      margin-top: 100px;
      margin-bottom: 250px;
    }
    
    .screen6{
      display:flex;
      flex-direction: column;
      padding: 100px;
      width: 100vw;
      height: 200vh;
      background-color: black;
      margin-bottom: 250px;
      align-items: center;
      gap: 100px;
    }

    .videotext{
      display:flex;
      flex-direction: column;
      color: white;
      gap: 50px;
    }

    .videotext p{
      color: white;
      line-height: 2;
      font-size: medium;
    }
    
    .video{
      padding: 50px 50px 50px 50px;
    }

    .screen7{
      width: 100vw;
      height: 100vh;
      margin-bottom: 250px;
    }
    .screen8{
      width: 100vw;
      height: 100vh;
      display:flex;
      justify-content:center;
      gap: 100px;
      margin-bottom: 250px;
    }
    .db{
      display:flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .buildtext p{
      color:gray;
      line-height: 1.5;
    }
    .screen9{
      width: 100vw;
      height: 70vh;
      display: flex;
      flex-direction: column;
      background-image: url("https://discoverylandco.com/imager/images/160/What_we_do_footer_2_5dabbd1a34149dcaed83515ff1526a0f.jpg");
      gap: 30px;
      justify-content: center;
      align-items: center;

    }
    .custom-button {
      width: 200px;
      height: 50px;
      background-color: transparent;
      border: 2px solid white; 
      color: white;
      font-size: 18px;
      transition: box-shadow 0.3s;
    }
    .custom-button:hover{
      box-shadow: 0 0 10px white;
    }
  footer{
    width:100vw;
    height:70vh;
    background-color: black;
    padding:70px;
    display: flex;
  }
  .contact{
    display:flex;
    flex-direction: column;
    gap: 30px;
  }
  .footersec2{
   position:absolute;
   right:70px;
   display:flex;
   gap:40px; 
  }
  .pagesec{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .pagesec label{
    color: white;
  }
